body{
    align-items: center;
    text-align: center;
}

.photo{
    width: 300px;
    border-radius: 10%;
    height: 370px;
    border: 1px solid black;
}

.mainInfoContainer{
    display: flex;
    justify-content: center;
}

.mainInfo{
    
}